@import "../vars";
.conf{
  padding: 20px 0 60px;
  &__inner{
    margin-top: 43px;
    padding: 70px;
    background-color: $bgBlue;
    border-radius: 20px;
  }
}

@media screen and (max-width: 992px){
  .conf{
    padding: 10px 0 30px;
    &__inner{
      margin-top: 20px;
      padding: 20px;
    }
  }
}
