<div class="container">
    <div class="apply-vacancies__inner" style="background-image: url(img/@@bg);">
        <div class="apply-vacancies__title">
            @@title
        </div>
        <div class="apply-vacancies__desc">
            Напишите нам через форму или <br>
            вы можете позвонить по телефону:
            <a href="tel:+74959999999">+7(495)999-99-99</a>
        </div>
        <form action="" class="apply-vacancies__form">
            <div class="apply-vacancies__fields">
                <fieldset class="fg">
                    <input type="text" placeholder="ФИО*">
                </fieldset>
                <fieldset class="fg">
                    <input type="tel" placeholder="Телефон">
                </fieldset>
                <fieldset class="fg apply-vacancies__full">
                    <input type="text" placeholder="Сообщение">
                </fieldset>
            </div>
            <div class="apply-vacancies__check check">
                <input type="checkbox" />
                <label>Согласен с политикой конфиденциальности</label>
            </div>
            <button class="apply-vacancies__btn mbtn mbtn-green-linear">
                <span>отправить</span>
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.3725 7.08843L4.4461 0.16202C4.2168 -0.0594359 3.8514 -0.0530777 3.62995 0.176224C3.4139 0.399912 3.4139 0.754519 3.62995 0.978173L10.1483 7.49651L3.62995 14.0148C3.4046 14.2402 3.4046 14.6056 3.62995 14.831C3.85536 15.0563 4.22072 15.0563 4.4461 14.831L11.3725 7.90458C11.5978 7.67917 11.5978 7.31381 11.3725 7.08843Z" fill="white"/>
                </svg>
            </button>
        </form>
    </div>
</div>
