<div class="container">
    <div class="business-services__title display2">Услуги для бизнеса</div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <a href="" class="swiper-slide business-card business-card2" style="background-image: url(img/business12.webp);">
                @@include('../cards/_business-card.html',{"img":"business","title":"Интернет","desc":"Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает. Lorem Ipsum используют потому, что тот обеспечивает более "})
            </a>
            <a href="" class="swiper-slide business-card business-card2" style="background-image: url(img/business13.webp);">
                @@include('../cards/_business-card.html',{"img":"business2","title":"IT-Аутсорс ","desc":"Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает. Lorem Ipsum используют потому, что тот обеспечивает более "})
            </a>
            <a href="" class="swiper-slide business-card business-card2" style="background-image: url(img/business14.webp);">
                @@include('../cards/_business-card.html',{"img":"business3","title":"Телефония","desc":"Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает. Lorem Ipsum используют потому, что тот обеспечивает более "})
            </a>
            <a href="" class="swiper-slide business-card business-card2" style="background-image: url(img/business15.webp);">
                @@include('../cards/_business-card.html',{"img":"business4","title":"Аренда каналов связи","desc":"Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает. Lorem Ipsum используют потому, что тот обеспечивает более "})
            </a>
            <a href="" class="swiper-slide business-card business-card2 business-card--big" style="background-image: url(img/business16.webp);">
                @@include('../cards/_business-card.html',{"img":"business5","title":"СМР и ПИР в слаботочных системах","desc":"Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации Здесь ваш текст.. "})
            </a>
        </div>
    </div>
</div>
