<div class="container">
    <div class="business-services__title display2">Услуги для бизнеса</div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide business-card" style="background-image: url(img/business.webp);">
                @@include('../cards/_business-card.html',{"img":"business","title":"Интернет","desc":"Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает. Lorem Ipsum используют потому, что тот обеспечивает более "})
            </div>
            <div class="swiper-slide business-card" style="background-image: url(img/business2.webp);">
                @@include('../cards/_business-card.html',{"img":"business2","title":"IT-Аутсорс ","desc":"Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает. Lorem Ipsum используют потому, что тот обеспечивает более "})
            </div>
            <div class="swiper-slide business-card" style="background-image: url(img/business3.webp);">
                @@include('../cards/_business-card.html',{"img":"business3","title":"Телефония","desc":"Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает. Lorem Ipsum используют потому, что тот обеспечивает более "})
            </div>
            <div class="swiper-slide business-card" style="background-image: url(img/business4.webp);">
                @@include('../cards/_business-card.html',{"img":"business4","title":"Аренда каналов связи","desc":"Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает. Lorem Ipsum используют потому, что тот обеспечивает более "})
            </div>
            <div class="swiper-slide business-card business-card--big" style="background-image: url(img/business5.webp);">
                @@include('../cards/_business-card.html',{"img":"business5","title":"СМР и ПИР в слаботочных системах","desc":"Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации Здесь ваш текст.. "})
            </div>
        </div>
    </div>
</div>
