<div class="container">
    <div class="connect__title display2">@@title</div>
    <div class="connect__items">
        <div class="connect__item">
            <div class="connect__subtitle">1 Шаг</div>
            <div class="connect__desc">
                Скачайте приложение <br>
                «РОСДОМОФОН» на свой смартфон
            </div>
        </div>
        <div class="connect__item">
            <div class="connect__subtitle">2 Шаг</div>
            <div class="connect__desc">
                Подайте заявку, впишите свой адрес,
                номер телефона, ждите смс
            </div>
        </div>
        <div class="connect__item">
            <div class="connect__subtitle">3 Шаг</div>
            <div class="connect__desc">
                Введите проверочный код из смс <br>
                и ждите подтверждения
            </div>
        </div>
    </div>
</div>
