<div class="container">
    <div class="faq__inner">
        <div class="faq__title display2">Частые вопросы</div>
        <div class="faq__items">
            <div class="qa-card">
                @@include('../cards/_qa-card.html',{"title":"Как настроить Wi-Fi роутер для работы в Сети «ВЭЛЛКОМ»?"})
            </div>
            <div class="qa-card">
                @@include('../cards/_qa-card.html',{"title":"Что такое DNS, DNS-сервер и DNS-клиент?"})
            </div>
            <div class="qa-card">
                @@include('../cards/_qa-card.html',{"title":"Почему скорость скачивания файла не соответствует ширине канала, указанной в тарифном плане?"})
            </div>
        </div>
    </div>
</div>
