<div class="container">
    <div class="private-services__title display2">Для частных лиц</div>
    <div class="swiper-container">
        <div class="swiper-wrapper private-services__items">
            <a href="" class="swiper-slide private-services__item service-card">
                @@include('../cards/_service-card.html',{"title":"Интернет","img":"private"})
            </a>
            <a href="" class="swiper-slide private-services__item service-card">
                @@include('../cards/_service-card.html',{"title":"Телевидение","img":"private2"})
            </a>
            <a href="" class="swiper-slide private-services__item service-card">
                @@include('../cards/_service-card.html',{"title":"Умный домофон","img":"private3"})
            </a>
            <a href="" class="swiper-slide private-services__item service-card">
                @@include('../cards/_service-card.html',{"title":"Видеонаблюдение","img":"private4"})
            </a>
        </div>
    </div>
</div>
