$font1:'Helvetica',
sans-serif;
$font2:'PT Sans',
sans-serif;
$black: #0E0E0E;
$primary: #00A2DE;
$green: #2BB150;
$greenLight: #C0E144;
$gray:#747D84;
$bgBlue: #F2F7F9;
$border: 1px solid #EEEEEE;
$yellow: #E4A400;
$orange: #E46D00;
